	.suhana ul{margin:0; padding:0; list-style:none}
	.suhana li{height:150px; width:150px; padding:10px; text-align:center; border:#000 solid 1px; float:left; margin-right:10px; line-height:150px;}
	.suhana li img{height: auto; max-width: 100%; width: auto; max-height:100%;  vertical-align:middle;}